@model IEnumerable<N7Emporium.Data.Armor>

@{
    ViewData["Title"] = "Index";
}


@section Header{
    <div style="background-color: black;" class="container-fluid">
        <h2 style="color: red; text-align: center;">Available Armor</h2>
    </div>
    <hr />
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div style="background-color: black; border-radius: 20px; border: 4px solid black; margin-bottom: 20px;" class="card">
                <img class="fixed-pic" src="@Html.DisplayFor(modelItem => item.Image)" alt="..." style="width:100%; border-radius: 20px;">
                <div class="card-body">
                    <div>
                        <div class="card-title-margin" style="text-align: center;">
                            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        </div>
                        <!--<p>@Html.DisplayFor(modelItem => item.Description)</p>-->
                        <div class="col-xs-6">
                            <p><strong>Price:</strong> $@Html.DisplayFor(modelItem => item.Price)</p>
                            <p><strong>Weight:</strong> @Html.DisplayFor(modelItem => item.Weight) lbs</p>
                            <p><strong>Type:</strong> @Html.DisplayFor(modelItem => item.Type)</p>
                        </div>
                        <p><strong>Dexterity:</strong> @Html.DisplayFor(modelItem => item.Dexterity)</p>
                        <!--<p><strong>Kinetic Barrier:</strong> @Html.DisplayFor(modelItem => item.KineticBarrier)</p>-->
                        <p><strong>Medi-Gel Capacity:</strong> @Html.DisplayFor(modelItem => item.MediGelCapacity)</p>
                    </div>
                    <div>
                        <form asp-action="add" asp-controller="Armor" method="get">
                            <div class="form-row form-alignment" style="margin-bottom: 3%;">
                                <label class="text-center" style="font-size: 1.2em; line-height:2em" for="quantity">Quantity:</label>
                                <div class="col" style="vertical-align: middle;">
                                    <input style="width: 27%;" class="form-control" id="bob" type="number" pattern="\d*" value="1" min="1" max="10" name="quantity">
                                    <input type="hidden" value="@item.ArmorId" name="id" />
                                    </div>
                                </div>
                                <button style="margin-top: 6%;" class="btn btn-card btn-block">Add to Cart</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
