@model IEnumerable<N7Emporium.Data.Armor>

@{
    ViewData["Title"] = "Index";
}

<div class="armor-header">
    <h2 style="color: red; text-align: center;">Available Armor</h2>
</div>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div style="background-color: black; border-radius: 20px; border: 4px solid black; margin-bottom: 20px;" class="card fixed-armor">
                <img class="fixed-pic" src="@Html.DisplayFor(modelItem => item.Image)" alt="..." style="width:100%; border-radius: 20px;">
                <div class="card-body">
                    <div class="card-title-margin" style="text-align: center;">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    </div>
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <div class="col-xs-6">
                        <p><strong>Price:</strong> $@Html.DisplayFor(modelItem => item.Price)</p>
                        <p><strong>Weight:</strong> @Html.DisplayFor(modelItem => item.Weight) lbs</p>
                        <p><strong>Type:</strong> @Html.DisplayFor(modelItem => item.Type)</p>
                    </div>
                    <p><strong>Dexterity:</strong> @Html.DisplayFor(modelItem => item.Dexterity)</p>
                    <p><strong>Kinetic Barrier:</strong> @Html.DisplayFor(modelItem => item.KineticBarrier)</p>
                    <p><strong>Medi-Gel Capacity:</strong> @Html.DisplayFor(modelItem => item.MediGelCapacity)</p>
                </div>
                <form class="form-inline center-div form-spacing" asp-action="add" asp-controller="Armor" method="get">
                    <label class="label-space" for="quantity"><strong>Quantity:</strong></label>
                    <input class="form-control" type="number" value="1" min="1" max="10" name="quantity">
                    <input type="hidden" value="@item.ArmorId" name="id" />
                    <button class="btn btn-danger" style="margin-left: 10px;">Add to Cart</button>
                </form>
            </div>
            
        </div>
    }
</div>
